## API FOURSQUARE DEVELOPERS

##### VAMOS A INVESTIGAR TANTO EN LONDRES COMO EN MADRID:
* LOS BARES QUE HAY
* LOS COLEGIOS QUE HAY POR LA ZONA PARA FACILITAR A LOS TRABAJADORES CON HIJOS LA ENTRADA Y SALIDA DE LOS COLEGIOS, Y ESTANDO CERCANOS A NUESTRA EMPRESA PUES MUCHO MEJOR
* Y LOS EVENTOS Y CONFEENCIA QUE HAY AL REDEDOR DE NUESTRA POSIBLES UBICACIONES PARA NUESTRA EMPRESA:
    - A parte de a que nuestros diseñodores le guste ir a conferencias de diseño, pienso que es muy bueno para todos los miebros de la empresa ir a conferencias relacionadas en su campo: ¡ APRENDER NUNCA ESTA DE MÁS!

In [139]:
# ESTAS LIBRERIAS SON PARA LLAMAR A NUESTRA API Y  A NUESTRO TOKEN DEL PUNTO ENV ADEMAS DE PANDAS PARA CREAR TABLAS
import requests
import json
from dotenv import load_dotenv
import os
import pandas as pd
from functools import reduce
import operator

In [140]:
load_dotenv()

True

In [166]:
# LIBRERIA PARA JUNTAR NUESTRAS COORDENAS Y CREAR EL POINT
import geopandas as gpd

In [165]:
# PARA CREAR MAPAS
from cartoframes.viz import Map, Layer, popup_element
import folium
from folium import Choropleth, Circle, Marker, Icon, Map
from folium.plugins import HeatMap, MarkerCluster
from cartoframes.viz import Map, Layer, popup_element, size_continuous_style, color_continuous_style

# MADRID

#### IMPORTAMOS MI DF DE LAS EMPRESAS EN MADRID DONDE ME GUSTARIA ESTAR AL REDEDOR

In [156]:
gdf_coodenadas_Madrid = pd.read_csv('../output/Madrid_coordenadas_clean.csv')
gdf_coodenadas_Madrid

,Unnamed: 0,name,latitude,longitude,geometry
0,0,Digital Assets Deployment,40.420460,-3.678121,POINT (-3.678121 40.42046)
1,1,Daily Flat Rental,40.412323,-3.703248,POINT (-3.703248 40.412323)
2,3,ticketea,40.445516,-3.706176,POINT (-3.7061764 40.4455155)
3,4,BuyVIP,40.416741,-3.703250,POINT (-3.7032498 40.4167413)

### API de Foursaquare developers --> BARS

In [47]:
token1 = os.getenv("token1")
token2 = os.getenv("token2")

In [48]:
enlace = "https://api.foursquare.com/v2/venues/explore"
bar = "4bf58dd8d48988d116941735"

In [101]:
def get_closest(latitude, longitude, categoryId):
    parametros = { "client_id" : token1,
          "client_secret" : token2,
          "v" : "20180323",
          "ll": f"{latitude},{longitude}",
          "categoryId" : categoryId,
          "limit" : 1
    }
    resp = requests.get (url = enlace, params = parametros)
    data = json.loads(resp.text)
    decoding_data = data.get("response")
    decoded = decoding_data.get("groups")[0]
    bars = decoded.get("items")
    
    nombre = ["venue","name"]
    latitud = ["venue", "location","lat"]
    longitud = ["venue","location","lng"]
    
    def getFromDict(diccionario,mapa):
        return reduce(operator.getitem,mapa,diccionario)
    
    mis_bares = []
    for diccionario in bars:
        paralista = {}
        paralista["name"] = getFromDict(diccionario,nombre)
        paralista["latitud"] = getFromDict(diccionario,latitud)
        paralista["longitud"] = getFromDict(diccionario,longitud)
        mis_bares.append(paralista)
    
    df_bares_madrid = pd.DataFrame(mis_bares)
    
    
    return df_bares_madrid

In [254]:
df_Digital_Assets_Deployment = get_closest(40.420460, -3.678121, "4bf58dd8d48988d116941735")

In [103]:
df_Daily_Flat_Rental = get_closest(40.412323, -3.703248, "4bf58dd8d48988d116941735")

In [104]:
df_ticketea = get_closest(40.445516, -3.706176, "4bf58dd8d48988d116941735")

In [105]:
df_BuyVIP = get_closest(40.416741, -3.703250, "4bf58dd8d48988d116941735")

In [255]:
closest_bars_to_my_company = pd.concat([df_Digital_Assets_Deployment, df_Daily_Flat_Rental, df_ticketea, df_BuyVIP], axis=0)
closest_bars_to_my_companies = closest_bars_to_my_company.reset_index(drop=True)
closest_bars_to_my_companies.loc[:,'category'] = ['bars', 'bars', 'bars', 'bars']
closest_bars_to_my_companies

                name    latitud  longitud category
0         La Castela  40.420435 -3.676564     bars
1  Madrid cerrajeros  40.416553 -3.703803     bars
2           REEDIFIC  40.446784 -3.703803     bars
3  Madrid cerrajeros  40.416553 -3.703803     bars

In [253]:
closest_bars_to_my_companies.to_csv('../output/closest_bars_to_my_companies.csv')

### API de Foursaquare developers --> CONFERENCES

In [186]:
enlace = "https://api.foursquare.com/v2/venues/explore"
conferences = "5267e4d9e4b0ec79466e48c6"

In [187]:
df_Digital_Assets_Deployment_b = get_closest(40.420460, -3.678121, "5267e4d9e4b0ec79466e48c6")

In [188]:
df_Daily_Flat_Rental_b = get_closest(40.412323, -3.703248, "5267e4d9e4b0ec79466e48c6")

In [189]:
df_ticketea_b = get_closest(40.445516, -3.706176, "5267e4d9e4b0ec79466e48c6")

In [190]:
df_BuyVIP_b = get_closest(40.416741, -3.703250, "5267e4d9e4b0ec79466e48c6")

In [247]:
closest_conferences_to_my_company = pd.concat([df_Digital_Assets_Deployment_b, df_Daily_Flat_Rental_b, df_ticketea_b, df_BuyVIP_b], axis=0)

closest_conferences_to_my_companies = closest_business_center_to_my_company.reset_index(drop=True)
closest_conferences_to_my_companies.loc[:,'category'] = ['conference', 'conference', 'conference', 'conference']
closest_conferences_to_my_companies

               name    latitud  longitud    category
0         Elzalburu  40.436095 -3.691326  conference
1       hokena rung  40.411633 -3.707981  conference
2  Espacio Efímeral  40.453630 -3.704104  conference
3       hokena rung  40.411633 -3.707981  conference

In [248]:
closest_conferences_to_my_companies.to_csv('../output/coordenadas_conferences.csv')

### API de Foursaquare developers --> ELEMENTARY SCHOOL

In [121]:
enlace = "https://api.foursquare.com/v2/venues/explore"
elementary_school = "4f4533804b9074f6e4fb0105"

In [122]:
df_Digital_Assets_Deployment_s = get_closest(40.420460, -3.678121, "4f4533804b9074f6e4fb0105")

In [127]:
df_Daily_Flat_Rental_s = get_closest(40.412323, -3.703248, "4f4533804b9074f6e4fb0105")

In [128]:
df_ticketea_s = get_closest(40.445516, -3.706176, "4f4533804b9074f6e4fb0105")

In [129]:
df_BuyVIP_s = get_closest(40.416741, -3.703250, "4f4533804b9074f6e4fb0105")

In [245]:
closest_school_to_my_company = pd.concat([df_Digital_Assets_Deployment_s, df_Daily_Flat_Rental_s, df_ticketea_s, df_BuyVIP_s], axis=0)
closest_school_to_my_companies = closest_school_to_my_company.reset_index(drop=True)
closest_school_to_my_companies.loc[:,'category'] = ['school', 'school', 'school', 'school']
closest_school_to_my_companies

                                           name    latitud  longitud category
0                 Nuestra Señora De La Almudena  40.419158 -3.677935   school
1                       CEIP Isabel la Catolica  40.426336 -3.699751   school
2  Centro educativo Maria Inmaculada Fuencarral  40.427867 -3.703431   school
3                       CEIP Isabel la Catolica  40.426336 -3.699751   school

In [246]:
closest_school_to_my_companies.to_csv('../output/coordenadas_schools.csv')

# LONDON

In [234]:
gdf_coodenadas_London = pd.read_csv('../output/London_coordenadas_clean.csv')
gdf_coodenadas_London.rename(columns={'latitude': 'latitud', 'longitude': 'longitud'}, inplace=True)
gdf_coodenadas_London.loc[:,'category'] = ['company', 'company', 'company', 'company', 'company']
gdf_coodenadas_London

   Unnamed: 0       name    latitud  longitud category
0           1   Seatwave  51.500152 -0.126236  company
1           2  ProcServe  51.494067 -0.146665  company
2           6      Shutl  51.519613 -0.102026  company
3           9  Autoquake  51.543337 -0.172364  company
4          10     Schway  51.519816 -0.136162  company

### API de Foursaquare developers --> BARS

In [201]:
enlace = "https://api.foursquare.com/v2/venues/explore"
bar = "4bf58dd8d48988d116941735"

In [212]:
df_Seatwave = get_closest(51.500152, -0.126236, "4bf58dd8d48988d116941735")

In [203]:
df_ProcServe = get_closest(51.494067, -0.146665, "4bf58dd8d48988d116941735")

In [204]:
df_Shutl = get_closest(51.519613, -0.102026, "4bf58dd8d48988d116941735")

In [205]:
df_Autoquake = get_closest(51.543337, -0.172364, "4bf58dd8d48988d116941735")

In [206]:
df_Schway = get_closest(51.519816, -0.136162, "4bf58dd8d48988d116941735")

In [214]:
closest_bars_london = pd.concat([df_Seatwave, df_ProcServe, df_Shutl, df_Autoquake, df_Schway], axis=0)
closest_bars_london = closest_bars_london.reset_index(drop=True)
closest_bars_london.loc[:,'category'] = ['bars', 'bars', 'bars', 'bars', 'bars']
closest_bars_london

                      name    latitud  longitud category
0           Strangers' Bar  51.499564 -0.123919     bars
1  The Goring Bar & Lounge  51.497385 -0.145475     bars
2                   Oriole  51.518904 -0.102672     bars
3              The Gallery  51.546509 -0.190200     bars
4    Bradley's Spanish Bar  51.516488 -0.132462     bars

### API de Foursaquare developers --> CONFERENCES

In [217]:
enlace = "https://api.foursquare.com/v2/venues/explore"
conferences = "5267e4d9e4b0ec79466e48c6"

In [218]:
df_Seatwave = get_closest(51.500152, -0.126236, "5267e4d9e4b0ec79466e48c6")

In [219]:
df_ProcServe = get_closest(51.494067, -0.146665, "5267e4d9e4b0ec79466e48c6")

In [220]:
df_Shutl = get_closest(51.519613, -0.102026, "5267e4d9e4b0ec79466e48c6")

In [221]:
df_Autoquake = get_closest(51.543337, -0.172364, "5267e4d9e4b0ec79466e48c6")

In [222]:
df_Schway = get_closest(51.519816, -0.136162, "5267e4d9e4b0ec79466e48c6")

In [223]:
closest_conferences_london = pd.concat([df_Seatwave, df_ProcServe, df_Shutl, df_Autoquake, df_Schway], axis=0)
closest_conferences_london = closest_conferences_london.reset_index(drop=True)
closest_conferences_london.loc[:,'category'] = ['conferences', 'conferences', 'conferences', 'conferences', 'conferences']
closest_conferences_london

                                   name    latitud  longitud     category
0                Park Plaza County Hall  51.501400 -0.116300  conferences
1  DoubleTree by Hilton London Victoria  51.493930 -0.143302  conferences
2                             Malmaison  51.520667 -0.100082  conferences
3                   Wellcome Collection  51.525861 -0.133907  conferences
4                   Wellcome Collection  51.525861 -0.133907  conferences

### API de Foursaquare developers --> ELEMENTARY SCHOOL

In [225]:
enlace = "https://api.foursquare.com/v2/venues/explore"
elementary_school = "4f4533804b9074f6e4fb0105"

In [226]:
df_Seatwave = get_closest(51.500152, -0.126236, "4f4533804b9074f6e4fb0105")

In [227]:
df_ProcServe = get_closest(51.494067, -0.146665, "4f4533804b9074f6e4fb0105")

In [228]:
df_Shutl = get_closest(51.519613, -0.102026, "4f4533804b9074f6e4fb0105")

In [229]:
df_Autoquake = get_closest(51.543337, -0.172364, "4f4533804b9074f6e4fb0105")

In [230]:
df_Schway = get_closest(51.519816, -0.136162, "4f4533804b9074f6e4fb0105")

In [231]:
closest_school_london = pd.concat([df_Seatwave, df_ProcServe, df_Shutl, df_Autoquake, df_Schway], axis=0)
closest_school_london = closest_school_london.reset_index(drop=True)
closest_school_london.loc[:,'category'] = ['school', 'school', 'school', 'school', 'school']
closest_school_london

                                 name    latitud  longitud category
0                Fairley House School  51.495202 -0.117444   school
1  St Peter's Eaton Square CE Primary  51.495949 -0.146568   school
2                       Argyle School  51.528271 -0.124323   school
3               Hampstead Hill School  51.553483 -0.167996   school
4                       Argyle School  51.528271 -0.124323   school

#### CONCATENAMOS NUESTRAS TABLAS PARA PODER EXPORTARLA Y DE AHI CREAR VISUALIZACIONES Y CONCLUSIONES

In [237]:
condiciones_london = pd.concat([gdf_coodenadas_London, closest_bars_london, closest_conferences_london, closest_school_london], axis=0)
condiciones_london = condiciones_london.drop(condiciones_london.columns[[0]], axis = 'columns')
condiciones_london

                                   name    latitud  longitud     category
0                              Seatwave  51.500152 -0.126236      company
1                             ProcServe  51.494067 -0.146665      company
2                                 Shutl  51.519613 -0.102026      company
3                             Autoquake  51.543337 -0.172364      company
4                                Schway  51.519816 -0.136162      company
0                        Strangers' Bar  51.499564 -0.123919         bars
1               The Goring Bar & Lounge  51.497385 -0.145475         bars
2                                Oriole  51.518904 -0.102672         bars
3                           The Gallery  51.546509 -0.190200         bars
4                 Bradley's Spanish Bar  51.516488 -0.132462         bars
0                Park Plaza County Hall  51.501400 -0.116300  conferences
1  DoubleTree by Hilton London Victoria  51.493930 -0.143302  conferences
2                             Malmaison  51.520667 -0.100082  conferences
3                   Wellcome Collection  51.525861 -0.133907  conferences
4                   Wellcome Collection  51.525861 -0.133907  conferences
0                  Fairley House School  51.495202 -0.117444       school
1    St Peter's Eaton Square CE Primary  51.495949 -0.146568       school
2                         Argyle School  51.528271 -0.124323       school
3                 Hampstead Hill School  51.553483 -0.167996       school
4                         Argyle School  51.528271 -0.124323       school

In [240]:
condiciones_london.to_csv('../output/condiciones_london.csv')

#### LINKS UTILIZADOS PARA SACAR ESTA INFROMACION
* La página web oficial de "foursquare.developer" --> https://developer.foursquare.com
* La página web oficial de geocode --> https://geocode.xyz/
* Coordenadas de Londres --> https://es.db-city.com/Reino-Unido--Londres